html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/css/bootstrap-dialog.css')
    link(rel='stylesheet', href='/css/styles.css')
    title Webyang Digital
  body

   container-fluid
    header
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle(data-toggle='collapse' data-target='#navbar')
              span.sr-only Toggle Navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Webyang
          .collapse.navbar-collapse#navbar
            ul.opcoes.nav.navbar-nav.navbar-right
              //li
                a(href='/portfolio') portfolio
                // li
                // a(href='/quem-somos') nós
              li
                a(href='/contato') contato
