body {
  font-family: 'Oswald', sans-serif !important; 
}

/* Home */
.home
{
  font-family: 'Oswald', sans-serif;
  margin-left:20px;
}

.home.title {
  font-size:500%;
}



.home.description p {
  margin:0;
}

#changing {
  text-decoration:none;

}

.navbar-default {
  background-color:white;
  border-color:white;
  margin-top:20px;
  margin-left:20px;
}

.opcoes li a {

  color:rgb(45,45,45) !important;
  font-size:120%;
  font-family: 'Oswald', sans-serif;
}
.navbar-brand {
  font-size:250%;
  color:black !important;
  font-family: 'Oswald', sans-serif;
}

/* Portfolio */
#job1 {
  background-image: 
  linear-gradient(
  rgba(0,0,0, 0.5),
  rgba(0,0,0, 0.5)),
  url('/img/job1.jpg')
}
#job2 {
  background-image: 
  linear-gradient(
  rgba(0,0,0, 0.5),
  rgba(0,0,0, 0.5)),
  url('/img/job2.jpg')
}

#job3 {
  background-image: 
  linear-gradient(
  rgba(0,0,0, 0.5),
  rgba(0,0,0, 0.5)),
  url('/img/job3.jpg')
}

.job {
  background-size:cover;
  height:400px;
}
.job h2 {
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  color:white;
  font-size:42px;
}

/* Contato */
#contact-form  {
  font-size:24px;
}
#contact-form input {
  font-size:22px;
}
#contact-form textarea {
  height:300px;
  font-size:32px;
}
#send-contact {
  color:white;
  background-color:black;
  font-size:28px;
  height:75px;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

  .home.description {
    font-size:500%;
  }

  #navbar {
    margin-left:130px;
    position:relative;
  }

  .opcoes li a {
    border-bottom:1px solid black;
  }
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
 #logo-index{
    margin-left:100px;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .home.description {
  }

 
 
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #logo-index {
    height:700px;
  }

}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1024px) {
  .home.description {
    font-size:92px;
  }
  #logo-index {
    height:500px;
    margin-left:0;
  }
  

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1400px) {
  .home.description {
    font-size:1000%;
    margin-top:4%;
    color:rgb(45,45,45);
  }

  #logo-index: {
    width:100px;

  }
}


