include ../templates/header.pug
article.col-md-12
      h2.home.description
       p Olá! Nos somos a
       p#descTitle Webyang. E
       p Nós criamos 
       span#changing

include ../templates/footer.pug 

