include ../templates/header.pug
article.col-md-7
      h2.home.description
       p Olá! Nos somos a
       p#descTitle Webyang. E
       p Nós criamos 
       span#changing
secion.col-md-12.col-lg-5.text-center
  img.img.img-responsive(id='logo-index' src='/img/logo.png')

include ../templates/footer.pug 

