include ../templates/header.pug
article
    .col-lg-4.col-sm-6.col-xs-12.job.darken#job1
      h2.text-center Tio Sam
    .col-lg-4.col-sm-6.col-xs-12.job.darken#job2
      h2.text-center Davilari
    .col-lg-4.col-sm-6.col-xs-12.job.darken#job3
      h2.text-center Pés De Alguem

include ../templates/footer.pug


