include ../templates/header.pug
article
    .col-lg-4.col-sm-6.col-xs-12.job#job1
      h2.text-center Job Title
    .col-lg-4.col-sm-6.col-xs-12.job#job2
      h2.text-center Job Title
    .col-lg-4.col-sm-6.col-xs-12.job#job3
      h2.text-center Job Title



include ../templates/footer.pug


